body {
    font-style: Arial;
}

.names {
    font-size: 30px;
}

.myPanda {
    float: left;
    height: 180px;
    width: auto;
    margin-right: 100px;
}

.pandaImg {
    height: 100%;
}

.pandas {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    margin-left: 100px;
}