body{
    background-color: whitesmoke;
    opacity: 0;
}
svg{
    height: 0px;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]
{
    width: 4em;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #34495e;
}
div table{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}

.info
{
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #141414;
  vertical-align: middle;
  margin-left: 10px;
  cursor: help;
  transition: all 0.8s;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}
.info:hover{
  background-color: #34495e;
  color: whitesmoke;
  border: 1px solid white;
}

 .info:active
{
  background-color: #34495e;
  color: whitesmoke;
  border: 1px solid white;
}

#controls
{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#infoBox
{
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 80%;
  left: -1px;
  height: auto;
  position: absolute;
  vertical-align: middle;
  background-color: #2c3e50;
  color: white;
  margin-left: auto;
  margin-top: auto;
  transition: all 0.8s;
  padding: 10px;
  padding-top: 0px;
  text-justify: inter-ideograph;
  text-align: justify;
  border: 1px solid #ecf0f1;
  border-left: none;
}

#infoBox p
{
  text-justify: inter-ideograph;
  text-align: justify
}


input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: transparent;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: transparent;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: transparent;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: transparent;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: transparent;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  height: 30px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: transparent;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: transparent;
}
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #fbfcfc;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: transparent;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #ecf0f1;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  height: 30px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: transparent;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #fbfcfc;
}
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #fbfcfc;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: transparent;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #ecf0f1;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  height: 30px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: transparent;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #fbfcfc;
}
