<style> .cls-1, .cls-9 {
    fill: #fff;
}

.cls-1, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-2, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: #66aceb;
}

.cls-15, .cls-3 {
    fill: #9c6f3e;
}

.cls-10, .cls-11, .cls-4, .cls-5 {
    opacity: 0.4;
}

.cls-4 {
    fill: url(#Degradado_sin_nombre_23);
}

.cls-5 {
    fill: url(#Degradado_sin_nombre_23-2);
}

.cls-12, .cls-6 {
    opacity: 0.05;
}

.cls-6 {
    fill: url(#Degradado_sin_nombre_44);
}

.cls-13, .cls-7 {
    opacity: 0.1;
}

.cls-7 {
    fill: url(#Degradado_sin_nombre_30);
}

.cls-14, .cls-8 {
    opacity: 0.2;
}

.cls-8 {
    fill: url(#Degradado_sin_nombre_30-2);
}

.cls-9 {
    stroke-width: 5px;
}

.cls-10 {
    fill: url(#Degradado_sin_nombre_23-3);
}

.cls-11 {
    fill: url(#Degradado_sin_nombre_23-4);
}

.cls-12 {
    fill: url(#Degradado_sin_nombre_71);
}

.cls-13 {
    fill: url(#Degradado_sin_nombre_30-3);
}

.cls-14 {
    fill: url(#Degradado_sin_nombre_30-4);
}

.cls-16 {
    opacity: 0.18;
}

.cls-17 {
    fill: none;
    stroke-width: 10px;
}

.cls-18 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif, MyriadPro-Regular, Myriad Pro;
}

</style>