body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
}
.wrapper {
    display: flex;
    align-items: center;
    background-color: #e5e2a5;
    height: 100%;
    width: 100%;
}

.left {
    display: flex;
    width: 65%;
    height: 100%;
    background-image: url('wallpapers/wallpaper1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    flex-direction: column;
}

.right {
    display: flex;
    width: 35%;
    height: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.pc {
    display: flex;
    width: 100%;
    height: 240px;
    align-items: center;
    /*background-color: purple;*/
}

.pc .tag {
    display: flex;
    width: 30%;
    color: white;
    align-items: center;
    justify-content: center;
    /*background-color: pink;*/
}

.pc .cards {
    display: flex;
    /*background-color: green;*/
    width: 70%;
    height: 100%;
    flex-flow: row-reverse wrap-reverse;
    margin-left: 60px;
}

.user {
    display: flex;
    width: 100%;
    height: 240px;
    align-items: center;
    /*background-color: blue;*/
}

.user .tag {
    display: flex;
    width: 30%;
    /*background-color: pink;*/
    align-items: center;
    justify-content: center;
    color: white;
}

.user .cards {
    display: flex;
    /*background-color: yellow;*/
    width: 70%;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 60px;
}

.card {
    display: flex;
    width: 80px;
    height: 120px;
}

.img {
    display: flex;
    width: 80px;
    height: 120px;
    box-shadow: -2px 7px 46px 2px rgba(0, 0, 0, 0.75);
    position: relative;
    /*background-color: grey;*/
}

.card_queue {
    display: flex;
    width: 30%;
    /*background-color: black;*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.robar {
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 50px;
    background-color: rgba(44, 47, 51, 0.8);
    color: white;
    align-items: center;
    text-align: center;
}

.tag {
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    font-family: Impact, Charcoal, sans-serif;
    /*font-weight: bold;*/
    font-size: 30px;
    background-color: red;
    border-radius: 50%;
    background-color: rgba(44, 47, 51, 0.7);
    padding: 15px;
    margin: 10px;
}

table.paleBlueRows {
    border: 1px solid #FFFFFF;
    text-align: center;
    width: 100%;
}

table.paleBlueRows td,
table.paleBlueRows th {}

table.paleBlueRows tbody td {
    /*font-size: 13px;*/
}

table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
}

table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
    color: whitesmoke;
}

table.paleBlueRows thead th {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot td {
    font-size: 14px;
}

#juego {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.records {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.usernameTxt {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(255,255,255);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  outline: none;
  width: 90%;
  margin-bottom: 3px;
}

.usernameButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #27b1e8;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 90%;
}