.wrapper {
    display: flex;
}

.left {
    background-image: url('wallpapers/wallpaper1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.left {
    display: flex;
    width: 60%;
    height: 100%;
    background-color: red;
}

.right {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: blue;
}

#juego {
    width: 100%;
}

.pc {
    display: flex;
    width: 100%;
    /*height: 240px;*/
    align-items: center;
    /*background-color: purple;*/
}

.pc .tag {
    display: flex;
    width: 30%;
    height: 100%;
    color: white;
    /*background-color: pink;*/
}

.pc .cards {
    display: flex;
    /*background-color: green;*/
    width: 70%;
    height: 100%;
    flex-flow: row-reverse wrap-reverse;
    margin-left: 60px;
}

.user {
    display: flex;
    width: 100%;
    /*height: 240px;*/
    align-items: center;
    /*background-color: blue;*/
}

.user .tag {
    display: flex;
    width: 30%;
    height: 100%;
    /*background-color: pink;*/
    justify-content: flex-end;
    color: white;
}

.user .cards {
    display: flex;
    /*background-color: yellow;*/
    width: 70%;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 60px;
}

.card {
    display: flex;
    width: 80px;
    height: 120px;
}

.img {
    display: flex;
    width: 80px;
    height: 120px;
    /*background-color: grey;*/
}

.card_queue {
    display: flex;
    width: 100%;
    /*background-color: black;*/
    flex-direction: column;
    align-items: center;
}